$def with (name)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
$if name:
    I love <em style="color: green; font-size: 2em;">$name</em>.
$else:
    <em>Hello</em>, world!
<ul class='masthead'>
<li id="follow">
                                <a href="http://learnpythonthehardway.org/book/ex51.html" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">To learn Python.</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                           </li>
</ul><!-- /.masthead -->
</body>
</html>